* {
  	margin: 0;
  	padding: 0;
}

html {
  	scroll-behavior: smooth;
}

section.HEAD {
	width: 100%;
	height: 5vh;
	background-color: #005280;
	display: block;
}
.infotop {
	width: 90%;
	height: 100%;
	margin: auto;
}
.infotop p {
	text-align: center;
	float: left;
	margin-right: 5%;
	padding-top: 0.5%;
}


section.HEAD2 {
	width: 100%;
	height: 20vh;
}
.logotitle {
	width: 50%;
	height: 67%;
	margin-left: 23%;
	margin-top: 1%;
	margin-bottom: 2%;
}
.logotitle img {
	height: 100%;
}
.navigation {
	width: 100%;
	height: 20%;
}
.nav {
	width: 20%;
	height: 100%;
	float: left;
}
.nav p {
	text-align: center;
	color: #005280;
}
a {
	text-decoration: none;
	text-decoration-line: none;
}
.nav p:hover {
	text-decoration: underline;
	text-decoration-color: #e8c236;
}


section.HEAD3 {
	width: 100%;
	height: 35vh;
	background-color:#005280;
	margin-top: 1%;
}
.left {
	width: 45%;
	height: 100%;
	background-color:#005280;
	float: left;
}
.lefttext {
	width: 80%;
	height: 100%;
	margin-left: 20%;
}
.lefttext h1 {
	padding-top: 8%;
	line-height: 1;
}
.lefttext h2 {
	padding-top: 2%;
}
.right {
	width: 55%;
	height: 100%;
	float: left;
	background-image: url("../assets/crane.png");
	background-size: cover;
	background-position: bottom;

}

section.HEAD4 {
	width: 100%;
	height: 30vh;
}
.part1 {
	width: 28%;
	height: 100%;
	float: left;
	margin-left: 4%;
}
.icon1 {
	width: 60%;
	height: 50%;
	margin: auto;
	padding-top: 3%;
}
.icon1 img {
	height: 90%;
	margin: auto;
	display: block;
}
.icon2 {
	width: 60%;
	height: 50%;
	margin: auto;
	padding-top: 3%;
}
.icon2 img {
	height: 80%;
	margin: auto;
	display: block;
	padding-top: 5%;
}
.context {
	width: 100%;
	height: 50%;
}
.context h2 {
	padding-top: 2%;
	text-align: center;
	font-size: 25px;
	color: #005280; 
}
.context p {
	padding-top: 1%;
	text-align: center;
	font-size: 14px;
	color: #005280;
	line-height: normal;
}

section.HEAD5 {
	width: 100%;
	height: 15vh;
	background-color: #e8c236;
	margin-top: 2%;
}
.HEAD5 h2 {
	text-align: center;
	color: #005280;
	padding-top: 1%;
}

section.HEAD6 {
	width: 100%;
	height: 40vh;
}
.head6-left {
	width: 50%;
	height: 100%;
	float: left;
	background-image: url("../assets/crane sample.jpg");
	background-size: cover;
	background-position: center;
	display: block;
}
.head6-left:hover {
	background-image:linear-gradient(to right, rgba(0,82,128,0.49), rgba(0,82,128,0.49)), url("../assets/crane sample.jpg");
}
.head6-left2 {
	width: 50%;
	height: 100%;
	float: left;
	background-image: url("../assets/forklift example.jpg");
	background-size: cover;
	background-position: center;
	display: block;
}
.head6-left2:hover {
	background-image:linear-gradient(to right, rgba(0,82,128,0.49), rgba(0,82,128,0.49)), url("../assets/forklift example.jpg");
}
.head6-lefttext {
	width: 100%;
	margin-top: 13%;
}
.head6-lefttext h2 {
	text-align: center;
}
.head6-lefttext1 {
	width: 15%;
	height: 10%;
	background-color: #e8c236;
	margin: auto;
	border-radius: 5px;
}
.head6-lefttext1 p {
	text-align: center;
	color: #005280;
}
.head6-lefttext1 p:hover {
	text-decoration: underline;
}

section.HEAD7 {
	width: 100%;
	height: 15vh;
	background-color: #005280;
}
.head7-left {
	width: 75%;
	height: 100%;
	float: left;
}
.head7-left h2 {
	font-size: 30px;
	text-align: right;
	padding-top: 3%;
}
.head7-right {
	width: 10%;
	height: 30%;
	background-color: #E8C236;
	border-radius: 5px;
	float: left;
	margin-top: 2.5%;
	margin-left: 2%;
}
.head7-right p {
	color: #005280;
	text-align: center;
	padding-top: 1%;
}
.head7-right p:hover {
	text-decoration: underline;
}

section.FOOTER {
	width: 100%;
	height: 40vh;
}
.footer1 {
	width: 100%;
	height: 70%;
}
.footer1 h2 {
	text-align: center;
	font-size: 40px;
	color: #005280;
	padding-bottom: 1%;
	padding-top: 1%;
}
.footer1 p {
	text-align: center;
	color: #005280;
	font-size: 12px;
}
.footer2 {
	width: 30%;
	height: 1%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../assets/line.png");
	display: block;
}
.footer3 {
	width: 50%;
	height: 10%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}
.footer-nav {
	width: 20%;
	height: 100%;
	float: left;
}
.footer-nav p {
	text-align: center;
	color: #005280;
}
.footer-nav p:hover {
	text-decoration: underline;
}

section.FOOTER1 {
	width: 100%;
	height: 5vh;
	background-color: #005280;
}

section.FOOTER1 p {
	font-size: 12px;
	padding-top: 0.5%;
	text-align: center;
	color: #E8C236;
	
}




section.LOCATION {
	width: 100%;
	height: 10vh;
	background-color: #E8C236;
	margin-top: 1%;
}
section.LOCATION h2 {
	padding-top: 2%;
	font-size: 40px;
	color: #005280;
	margin-left: 10%;
}
section.MAPS {
	width: 100%;
	height: 60vh;
	background-color: #E8C236;
}
.maps-size {
	width: 80%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
}
.maps-size iframe {
	width: 100%;
	height: 100%;
}

section.KONTAK1 {
	width: 100%;
	height: 50vh;
	background-color: #005280;
}
.kontak1-text1 {
	width: 80%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

.kontak1-text1 h2 {
	font-size: 20px;
	padding-top: 4%;
	padding-bottom: 1%;
}

.kontak1-text1 p {
	font-size: 15px;
}
.kontak1-text2 {
	width: 80%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}
.kontak1-text2 h2 {
	font-size: 20px;
	padding-top: 4%;
	padding-bottom: 1%;
}
.kontak1-text2 p {
	font-size: 15px;
}

section.CRANE-FORKLIFT {
	width: 100%;
	height: 30vh;
	background-color: #E8C236;
	margin-top: 1%;
}
.crane-forklift-margin {
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.crane-forklift-margin h2 {
	font-size: 40px;
	padding-top: 2%;
	color: #005280;
	padding-bottom: 1%;
}
.crane-forklift-margin p {
	color: #005280;
	font-size: 15px;
}


section.TENTANG-KAMI {
	width: 100%;
	height: 80vh;
	margin-top: 1%;
}

.tentang-kami-left {
	width: 20%;
	height: 100%;
	float: left;
}
.tentang-kami-left1 {
	width: 100%;
	height: 25%;
	background-color: #E8C236;
}
.tentang-kami-left1 h2 {
	color: #005280;
	text-align: center;
	font-size: 30px;
	padding-top: 20%;
	text-decoration: underline;
}

.tentang-kami-left2 {
	width: 100%;
	height: 25%;
	background-color: #005280;
}
.tentang-kami-left2 h2 {
	color: #E8C236;
	text-align: center;
	font-size: 30px;
	padding-top: 20%;
}

.tentang-kami-right1 {
	width: 80%;
	height: 100%;
	float: left;
	display: block;
}
.tentang-kami-right2 {
	width: 80%;
	height: 100%;
	float: left;
	display: none;
}
.tentang-kami-right3 {
	width: 80%;
	height: 100%;
	float: left;
	display: none;
}
.tentang-kami-right4 {
	width: 80%;
	height: 100%;
	float: left;
	display: none;
}
.tentang-kami-right5 {
	width: 80%;
	height: 100%;
	float: left;
	display: none;
}

.tentang-kami-right {
	width: 85%;
	height: 100%;
	margin-left: 5%;
}
.tentang-kami-right h2 {
	font-size: 50px;
	color: #005280;
	padding-top: 3%;
}
.tentang-kami-right p {
	color: #005280;
	font-size: 15px;
	padding-top: 3%;
}
.tentang-kami-right h1 {
	font-size: 20px;
	color: #005280;
	padding-top: 2%;
}

section.CRANE {
	width: 100%;
	height: 90vh;
}
.crane1 {
	width: 100%;
	height: 20%;
	background-image: linear-gradient(to right, rgba(0,82,128,0.49), rgba(0,82,128,0.49)), url("../assets/CRANE 7 Ton 1.jpeg");
	background-size: cover;
	background-position: center;
}
.crane1:hover {
	background-image: linear-gradient(to right, rgba(0,82,128,0.49), rgba(0,82,128,0.49)), url("../assets/CRANE 7 Ton 1.jpeg");
}
.crane1 h2 {
	color: #E8C236;
	text-align: center;
	font-size: 30px;
	padding-top: 12%;
}

.crane2 {
	width: 100%;
	height: 20%;
	background-image: linear-gradient(to right, rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url("../assets/CRANE 16 Ton 1.jpeg");
	background-size: cover;
	background-position: center;
}
.crane2:hover {
	background-image: linear-gradient(to right, rgba(0,82,128,0.49), rgba(0,82,128,0.49)), url("../assets/CRANE 16 Ton 1.jpeg");
}
.crane2 h2 {
	color: #E8C236;
	text-align: center;
	font-size: 30px;
	padding-top: 10%;
}

.crane3 {
	width: 100%;
	height: 20%;
	background-image: linear-gradient(to right, rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url("../assets/CRANE 16 Ton 2.jpeg");
	background-size: cover;
	background-position: center;
}
.crane3:hover {
	background-image:linear-gradient(to right, rgba(0,82,128,0.49), rgba(0,82,128,0.49)),url("../assets/CRANE 16 Ton 2.jpeg");
}
.crane3 h2 {
	color: #E8C236;
	text-align: center;
	font-size: 30px;
	padding-top: 12%;
}

.crane4 {
	width: 100%;
	height: 20%;
	background-image: linear-gradient(to right, rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url("../assets/CRANE 35 Ton 1.jpeg");
	background-size: cover;
	background-position: center;
}
.crane4:hover {
	background-image: linear-gradient(to right, rgba(0,82,128,0.49), rgba(0,82,128,0.49)), url("../assets/CRANE 35 Ton 1.jpeg");
}
.crane4 h2 {
	color: #E8C236;
	text-align: center;
	font-size: 30px;
	padding-top: 12%;
}

.crane5 {
	width: 100%;
	height: 20%;
	background-image: linear-gradient(to right, rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url("../assets/Crane 50 Ton 1.jpeg");
	background-size: cover;
	background-position: center;
}
.crane5:hover {
	background-image: linear-gradient(to right, rgba(0,82,128,0.49), rgba(0,82,128,0.49)), url("../assets/Crane 50 Ton 1.jpeg");
}
.crane5 h2 {
	color: #E8C236;
	text-align: center;
	font-size: 30px;
	padding-top: 12%;
}


.craneimage1 {
	width: 80%;
	margin-left: 5%;
}

.craneimage1 h2 {
	color: #005280;
	font-size: 50px;
	padding-top: 2%;
}
.imagecrane1 {
	height: 40%;
	margin-left: 5%;
	margin-top: 2%;
}

.imagecrane1 img {
	height: 100%;
	margin-right: 1%;
	margin-bottom: 1%;
}





















